<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title><%- guy %></title>
</head>
<body>
    <h1><%- guy %></h1>
    <p>Type(s): <%- types %></p>
    <h3>Stats:</h3>
    <ul>
        <%- stats %>
    </ul>
    <h3>Abilities:</h3>
    <ul>
        <%- abilities %>
    </ul>
    <hr>
    <a href="/">BACK TO HOME</a>
</body>
</html>